{% extends 'base.html' %}

{% block title %}

    <title>Спасибо</title>

{% endblock %}

{% block content %}
    <h1 style="color:#774C3D; font-style:obloque;">Спасибо, что прошли опрос! Вы можете посмотреть статистику через меню</h1>
    <table style="color:RosyBrown;">
        <tr>
            <td><a href="https://www.youtube.com/watch?v=ZBi5ivN3oJQ" style="color:RosyBrown;"> Можете нажать сюда и осмотреть их чудесное выступление! </a> </td>
        </tr>
        <tr>
            <td><img src="https://1409791524.rsc.cdn77.org/data/images/full/574242/pentagon-do-or-not-mv-exceeded-5-million-views-hot-global-popularity.jpeg" width="450" align = "middle"></td>
        </tr>
{% endblock %}